# =========================
# 后端 (Python / FastAPI)
# =========================
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
*.db
*.sqlite3
/backend/data/

# =========================
# 前端 (Node.js / Vue / Electron)
# =========================
node_modules/
dist/
dist_electron/
npm-debug.log
yarn-error.log

# =========================
# 操作系统 & 编辑器配置
# =========================
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
